body {
  font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #fceee9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
h2 {
  font-size: 2.4em;
}

p {
  margin-bottom: 1.5em;
}

hr {
  width: 80%;
  margin-bottom: 25px;
}

#map {
  float: right;
  width: 45%;
  height: 600px;
  border: solid;
  border-color: #848b79;
  border-width: 15px;
  border-radius: 10%;
  margin-top: 2%;
  margin-right: 3%;
  position: relative;
}

#quiz {
  text-align: center;
  float: left;
  position: relative;
  width: 40%;
  height: 600px;
  border: solid;
  border-color: #848b79;
  border-width: 15px;
  border-radius: 10%;
  margin-left: 3%;
  margin-top: 2%;
  background: white;
  display: flex;
  flex-direction: column;
}

#questions {
  margin-left: 10%;
  margin-right: 10%;
  height: 275px;
  font-weight: bold;
  text-align: left;
}

#quiz-item {
    float: left;
    margin-left: 10px;
    font-size: 1.2em; 
    padding: 5px;  
}
#score-item{
    float: right;
    text-align: right;
    margin-right: 10px;
    font-size: 1.2em; 
    padding: 5px; 
}
#final-score {
  font-size: 0.8em; 
  float: bottom;
  font-weight: normal;
}

#instructions {
  font-size: 1.2em;
}
#bottom-bar {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.timer {
  font-size: 1.6em;
  font-weight: bold;
}
#resetGameButton {
  margin: auto 0 auto 0;
  height: 50px;
  width: 120px;
  border: solid;
  border-color: #848b79;
  border-width: 3px;
  background: none;
  cursor: pointer;
  border-radius: 20px;
}

#resetGameButton:hover {
  background: #848b79;
  color: white;
}

#leaderboard h2 {
  padding: 0;
  margin: 0;
}

#leaderboard {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  font-size: 12px;
  z-index: 1000; 
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th,
td,
tr {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 4px;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}
