body {
    font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: stretch; 
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
h2 {
  font-size: 2.4em;
}

p {
  margin-bottom: 1.5em;
}

hr {
  width: 80%;
  margin-bottom: 25px;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#map {
  float: right;
  width: 50%;
  height: 100vh;
  border: solid;
  border-color: #000000;
  border-width: 15px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

#quiz {
  text-align: center;
  margin: 0;
  width: 50%;
  height: 100vh;
  border: solid;
  border-width: 15px;
  border-color: #D22030;
  background: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

#questions {
  margin-left: 10%;
  margin-right: 10%;
  height: 275px;
  font-weight: bold;
  text-align: left;
}

#quiz-item {
    float: left;
    margin-left: 10px;
    font-size: 1.2em; 
    padding: 5px;  
}
#score-item{
    float: right;
    text-align: right;
    margin-right: 10px;
    font-size: 1.2em; 
    padding: 5px; 
}
#final-score {
  font-size: 0.8em; 
  float: bottom;
  font-weight: normal;
}

#instructions {
  font-size: 1.2em;
}
#bottom-bar {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.timer {
  font-size: 1.6em;
  font-weight: bold;
}
#resetGameButton {
  margin: auto 0 auto 0;
  height: 50px;
  width: 120px;
  border: solid;
  border-color: #D22030;
  border-width: 3px;
  background: none;
  cursor: pointer;
}

#resetGameButton:hover {
  background: #D22030;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th,
td,
tr {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 4px;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}
